@{
    ViewData["Title"] = "Index";
    int uCount = ViewBag.userCount;
    int nCount = ViewBag.CustomerCount;
}

<h1>Admin Index</h1>
<div class="row">
    <div class="col-md-4">
        <a asp-action="GetBooks" class="text-white">
            <div class="card bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Product Card</h5>
                </div>
                <div class="card-body">
                    <p class="card-text my-3">Total Book Count: <b></b></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a asp-action="GetCustomers" class="text-white">
            <div class="card bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"><h5 class="card-title">User Card</h5></div>
                <div class="card-body">
                    <p class="card-text my-3">Total User Count: <b>@uCount</b></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a asp-action="GetCustomers" class="text-white">
            <div class="card bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header"><h5 class="card-title">Non Customer Card</h5></div>
                <div class="card-body">
                    <p class="card-text my-3">Total Non Customer: <b>@nCount</b></p>
                </div>
            </div>
        </a>
    </div>
</div>

