@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center text-danger">
    <h1>Opsss!</h1>
    <h3>Bu sayfa giriş yetkiniz bulunmamaktadır!</h3>
    <p>Yetkilendirme için iletişime geçiniz: <a href="mailto:admin@mail.com">admin@mail.com</a></p>
</div>

