body {
    background-color: #F8F9FA; 
    color: #333 !important; 
}

.list-group-item {
    color: #333 !important; 
}

    .list-group-item.bg-orange {
        background-color: #FF7F50 !important; 
        color: #FFFFFF !important; 
    }

.card-header.bg-orange {
    background-color: #FF7F50 !important; 
    color: #FFFFFF !important; 
    font-weight: bold;
}

.list-group-item-action {
    color: #333 !important;
}

    .list-group-item-action:hover {
        background-color: #E65C00 !important;
        color: #FFFFFF !important;
    }

.faq-question {
    font-weight: bold;
    color: #2C3E50 !important; 
}

.faq-answer {
    color: #555 !important; 
}
.contact-btn {
    background-color: #FF7F50;
    color: #FFFFFF !important;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}

    .contact-btn:hover {
        background-color: #E65C00 !important;
        color: #FFFFFF !important;
    }
