@using ProductCatolog_Core.Enums
@model IEnumerable<ProductCatolog_Core.Models.Article>

@{
    ViewData["Title"] = "Blogs";
}
<head><link rel="stylesheet" href="~/css/Articles/index.css" /></head>

<div class="container mt-5">
    <h1 class="text-center mb-4">Our Latest Blogs</h1>

    <div class="row mt-4">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card blog-card shadow-sm">
                    <div class="blog-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text text-muted">Published on: @item.CreatedDate.ToShortDateString()</p>
                        <a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Id" class="btn btn-primary">Read More</a>
                    </div>
                    <div class="blog-image">
                        <img src="~/img/@item.ImageUrl1" alt="Blog Image" class="img-fluid">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

