@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1 class="text-center my-4">Admin Dashboard</h1>

<div class="row">
    <div class="col-md-3">
        <a asp-controller="Product" asp-action="Index" class="text-white text-decoration-none">
            <div class="card bg-success mb-4 shadow-lg">
                <div class="card-header text-center">
                    <h5 class="card-title"><i class="fas fa-box"></i> Products</h5>
                </div>
                <div class="card-body text-center">
                    <h3><b>@ViewBag.ProductCount</b></h3>
                    <p>Total Products</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Category" asp-action="Index" class="text-white text-decoration-none">
            <div class="card bg-warning mb-4 shadow-lg">
                <div class="card-header text-center">
                    <h5 class="card-title"><i class="fas fa-tags"></i> Categories</h5>
                </div>
                <div class="card-body text-center">
                    <h3><b>@ViewBag.CategoryCount</b></h3>
                    <p>Total Categories</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Articles" class="text-white text-decoration-none">
            <div class="card bg-success mb-4 shadow-lg">
                <div class="card-header text-center">
                    <h5 class="card-title"><i class="fas fa-file-alt"></i> Articles</h5>
                </div>
                <div class="card-body text-center">
                    <h3><b>@ViewBag.ArticleCount</b></h3>
                    <p>Total Articles</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Home" asp-action="GetCustomers" class="text-white text-decoration-none">
            <div class="card bg-primary mb-4 shadow-lg">
                <div class="card-header text-center">
                    <h5 class="card-title"><i class="fas fa-users"></i> Customers</h5>
                </div>
                <div class="card-body text-center">
                    <h3><b>@ViewBag.UserCount</b></h3>
                    <p>Total Blogs</p>
                </div>
            </div>
        </a>
    </div>

@*     <div class="col-md-3">
        <a asp-controller="Order" asp-action="Index" class="text-white text-decoration-none">
            <div class="card bg-danger mb-4 shadow-lg">
                <div class="card-header text-center">
                    <h5 class="card-title"><i class="fas fa-shopping-cart"></i> Orders</h5>
                </div>
                <div class="card-body text-center">
                    <h3><b></b></h3>
                    <p>Total Orders</p>
                </div>
            </div>
        </a>
    </div> *@
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
