@using ProductCatolog_Core.VMs
@model ManagerUserRoleVM
@{
    ViewData["Title"] = "RoleManager";
}

<h1>Manage Roles For User</h1>
<hr />
<form asp-action="RoleManager" method="post">
    <input type="hidden" asp-for="UserId" />
    <div class="fs-4 my-3">
        <b>User Id:</b> @Model.UserId <b><br />User Name:</b> @Model.UserName
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Is Assigned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td style="width: 10rem;">@role.RoleName</td>
                    <td>
                        <input type="checkbox" asp-for="Roles[Model.Roles.IndexOf(role)].IsSelected" />
                        <input type="hidden" asp-for="Roles[Model.Roles.IndexOf(role)].RoleName" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" asp-action="GetCustomers" class="btn btn-outline-primary">Back</button>
</form>

